<style type="text/css">
  .container {
    display: flex;
  justify-content: center;
  flex-direction: row;
  }
</style>

{{#if message includeZero=true}}
	<div class="alert alert-success text-center" role="alert">
	  {{message}}
	</div>
{{/if}}

<div class="container" style="padding-top:70px;">
	<div class="card" style="width: 30rem;">
		<div class="card-header">
			Absen
		</div>
	  	<div class="card-body">
	    	<form method="POST" action="/absen">
			  	
			  	<div class="row">
			  		<div class="col">
			  			<div class="form-group">
							<label for="ruang">Ruangan</label>
							<input type="text" class="form-control" id="ruang" aria-describedby="ruang" placeholder="Ruangan" name="ruang" >
							<small id="ruang" class="form-text text-muted">Contoh: IF500</small>
						</div>
			  		</div>
			  		<div class="col">
			  			<div class="form-group">
					   		<label for="nrp">Nomor Registrasi Peserta</label>
					    	<input type="text" class="form-control" id="nrp" aria-describedby="nrp" placeholder="NRP" name="nrp">
					    	<small id="nrp" class="form-text text-muted">Contoh: 5115100064</small>
					  	</div>
			  		</div>
			  	</div>
			  	<button type="submit" class="btn btn-primary">Submit</button>
			</form>
	  	</div>
	  	<div class="card-footer">

	  	</div>
	</div>
</div>