<style type="text/css">
  .container {
    display: flex;
  justify-content: center;
  flex-direction: row;
  }
</style>

<div class="container" style="padding-top:70px;">
	<div class="card" style="width: 30rem;">
		<div class="card-header">
			Rekap Mahasiswa per Kuliah
		</div>
	  	<div class="card-body">
	    	<form method="POST" action="/mahasiswapersemester">
			  	
			  	<div class="row">
			  		<div class="col">
			  			<div class="form-group">
					   		<label for="nrp">Nomor Registrasi Peserta</label>
					    	<input type="text" class="form-control" id="nrp" aria-describedby="nrp" placeholder="NRP" name="nrp">
					    	<small id="nrp" class="form-text text-muted">Contoh: 5115100064</small>
					  	</div>
			  		</div>
			  		<div class="col">
			  			<div class="form-group">
					   		<label for="semester">Semester</label>
					   		<input type="number" name="semester" class="form-control" value="1" min="1" max="8">
					   		<small id="semester" class="form-text text-muted">Isi dengan angka 1 - 8</small>
					  	</div>
			  		</div>
			  	</div>
			  	<button type="submit" class="btn btn-primary">Submit</button>
			</form>
	  	</div>
	  	<div class="card-footer">

	  	</div>
	</div>
</div>